<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label for="base">Find:</label>
        <input type="string" name="find" value="">
    </div>
    <div class="form-group">
        <label for="base">Replace with:</label>
        <input type="string" name="replace" value="">
    </div>
    <div class="form-group">
        <label for="actorName">Search actor name?</label>
        <input type="checkbox" name="actorName" data-dtype="Boolean" checked>
    </div>
    <div class="form-group">
        <label for="itemNames">Search item names?</label>
        <input type="checkbox" name="itemNames" data-dtype="Boolean" checked>
    </div>
    <div class="form-group">
        <label for="itemDescriptions">Search item descriptions?</label>
        <input type="checkbox" name="itemDescriptions" data-dtype="Boolean" checked>
    </div>
    <div class="form-group">
        <label for="cs">Case sensitive?</label>
        <input type="checkbox" name="cs" data-dtype="Boolean">
    </div>
</form>