<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label for="base">Level</label>
        <input type="number" name="level" value="1"/>
    </div>
</form>
