<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label for="base">Level Difference</label>
        <input type="number" name="level-diff" value="-1"/>
    </div>
</form>
