<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label for="characters">Number of Characters</label>
        <input type="number" name="characters" value="5" />
    </div>
    <div class="form-group">
        <label for="partyLevel">Party Level</label>
        <input type="number" name="partyLevel" value="1" />
    </div>
</form>