<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="notes">{{hint1}}</p>
    <p class="notes">{{hint2}}</p>
    <p class="notes">{{hint3}}</p>
    <div class="form-group">
        <label for="data">Source Data</label>
        <input type="file" name="data"/>
    </div>
</form>
