<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="notes">{{hint1}}</p>
    <p class="notes">{{hint2}}</p>
    <p class="notes">{{hint3}}</p>
    <div class="form-group">
        <label for="data">Source Data</label>
        <input type="file" name="data" />
    </div>
    <div class="form-group">
        <label for="core">Import auxiliary actions? (Bull Rush, Grab etc.)</label>
        <input type="checkbox" name="core" data-dtype="Boolean" checked>
    </div>
</form>